---
import "../styles/global.css";
import type { ReactNode } from 'react';

type Props = {
  title: string;
  description: string;
  children?: ReactNode
  // slug?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" sizes="180x180">
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Penkle Analytics -->
    <!-- <script defer data-domain="bleu.dev" src="https://penkle.com/scripts/penkle.min.js" /> -->

    <!-- Font preloads -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>Bleu | {title}</title>
    <meta name="title" content={`Bleu | ${title}`} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`Bleu | ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL("/static/bleu.png", Astro.url)} />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Reactive">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={`Bleu | ${title}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL("/static/bleu.png", Astro.url)} />
    <meta property="twitter:image:width" content="1200">
    <meta property="twitter:image:height" content="630">
    <meta property="twitter:image:alt" content="Bleu Agency">

    <!-- Robots -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1">
  </head>
  <body class="text-slate-800 text-sm md:text-base">
    <main>
      <slot />
    </main>
  </body>
</html>
